html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #d8e0e1; 
}

.container {
    background-color: #b0c4de;
    border: solid 3px #4682b4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.btn-primary {
    background-color: #3578bb;
    border-color: #3578bb;
}

.btn-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
    transform: scale(1.05)
}

a:hover {
    color: #87ceeb;
}

.input-group,
.form-group {
    margin-bottom: 15px;
}

.table {
    border-color: #3578bb;
}

.table thead th {
    background-color: #3578bb;
    color: #ffffff;
    
}
tbody td {
    border-color: #4682b4;
}
tbody tr {
    background-color: #ffffff;
    border-color: #4682b4;
}
tbody th:hover {
    background-color: #8acad2;

}
.input-group {
    margin-bottom: 15px;
}

.form-control-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}

.btn-primary.btn-sm {
    padding: 0.25rem 1rem; /* Adjust padding for smaller button width */
    font-size: 0.875rem;
}

.btn-secondary.btn-sm {
    padding: 0.25rem 1rem;
    font-size: 0.875rem;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path stroke="rgba(255,255,255,0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22m-7 8h15"></path></svg>');
}

/* Style for the collapsed menu */
#navbarCollapse {
    background-color: #22482b;
    padding: 10px;
    border-radius: 5px;
}